@charset "UTF-8";
/* CSS Document */
*{
	padding: 0; 
	margin: 0;
}

Body {
	background-color: #afcef8;
	font-family: "helvetice", "arial", sans-serif; 
}

/*styling af menu*/
.navigation {
	border-bottom: 5px dashed red;
}

.navigation a {
	text-decoration: none;
	color: white; 
	font-weight: 500; 
	font-size: 1.5em;
}

.navigationelementer {
	text-align: center;
	padding: 3% 0;
}

/*Overskrift*/
.placering-overskrift{
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 10%; 
	border-collapse: separate; 
	border-spacing: 15px; 
}

.overskrift {
	border: 1px solid #666;
	background-color: white; 
	height: 40px; 
	width: 40px; 
	text-align: center; 
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-family: "helvetica" "arial" "sans-serif";
	font-size: 1.25em;
	font-weight: normal;
}

/*Den gule prik*/
.placering-gul {
	text-align: center;
	margin-top: 2%;
}

.gul {
	height: 40px; 
	width: 40px; 
	background-color: #FFE910;
	border-radius: 50%;
	display: inline-block;
}
/*Signatur*/
.placering-navn {
	text-align: center;
}
.navn {
	height:auto; 
	width: 20%;
}

/*projekter*/
.projektbillede img {
	width: 100%;
	height: auto;

}
.projektbillede {
	padding: 5%;
}

.projektkasse {
	border: 7px dashed white;
	width: 75%;
	margin-top: 5%;
}

.projektoverskrift {
	margin-top: 10%;
}

.projektoverskrift .projektbrodtekst {
	padding: 3%;
}

/*omkring*/
.omkringbillede img {
	width: 100%;
	height: auto;

}
.omkringbillede {
	padding: 5%;
}

.omkringkasse {
	border: 7px dashed white;
	width: 75%;
	margin-top: 5%;
}

.omkringoverskrift {
	margin-top: 10%;
}

.omkringoverskrift .omkringbrodtekst {
	padding: 3%;
}

/*Copyright*/
.copyright{
	margin-top: 25%;
	text-align: center;
}

.copyrightstyling {
	color: white;
}

/*Styling af medium*/
@media handheld, only screen and (max-width: 768px) and (min-width: 414px){
	/*(max-width:864px)*/
	
	/*navigation*/
	.navigation a {
	font-size: 1.25em;
}
	/*projekter*/
	.projektkasse {
		display: inline-block;
		float: left;
		width: 100%;
	}


.projektoverskrift .projektbrodtekst {
	padding: 3%;
}
	
	/*copyright*/
	.copyright {
		margin-top: 55%;
	}
	
}
/*Styling af small*/
@media handheld, only screen and (max-width: 414px) and (min-width: 100px) {
	/*navigation*/
	.navigation a {
	font-size: 1em;
	}
	/*overskrift*/
	.overskrift { 
	height: 20px; 
	width: 20px; 
	box-shadow: 2.5px 2.5px 2.5px #666;
	font-size: 0.75em;
	}
	.placering-overskrift{
	border-spacing: 8px; 
	}
}